**/*.rs.bk
*.egg-info/
*.pyc
*.pyd
*.so
/.coverage/
/.docker.registry/
/.docker.target/
/.eggs/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/jsonschema-validator.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.tox/
/Cargo.lock
/build/
/ci/appveyor_token.txt
/dist/
/kcov-v*/
/target
/temp-dir/
